.AddModelData{
    height: 100vh;
    display: flex;
    align-items: flex-start;
}
.AddModelData .modelWrapper{
    width: 75vw;
    height: 100vh;
    background: url('../../public/img/pexels-andrew-neel-8960464\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.AddModelData .backBtnWrapper p{
    color: black;
}
.AddModelData .backBtnWrapper{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 1rem;
    padding-top: 1rem;
}
.AddModelData .backBtnWrapper .back{
    margin-top: -0.5rem;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
}
.AddModelData .modelInfoWrapper{
    width: 25vw;
    height: 100vh;
    overflow-y: auto;
    padding: 3rem 1rem;
    padding-bottom: 7rem;
    border-left: 1px solid rgb(225, 223, 223);
    background-color: rgb(251, 249, 249);
}
.AddModelData .modelInfoWrapper h1{
    color:#0D5777;
    text-align: center;
    margin-bottom: 3rem;
}
.AddModelData .modelInfoWrapper .inputWrapper{
    margin: 2rem 0rem;
}
.AddModelData .modelInfoWrapper .inputWrapper p,
.AddModelData .modelInfoWrapper #fileupload2 p{
    margin-left: 0.9rem;
    margin-bottom: 0.3rem;
}
.AddModelData .modelInfoWrapper .inputWrapper input,
.AddModelData .modelInfoWrapper .inputWrapper select,
.AddModelData .modelInfoWrapper  .myui-button,
.AddModelData .modelInfoWrapper .btnContainer button{
    width: 100%;
    display: block;
    padding:0.7rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    border: 1px solid #0D57774D;
    background: rgb(241, 238, 238);
}
.AddModelData .modelInfoWrapper .inputWrapper select{
    padding-left: 0.3rem;
}
#fileupload2 input{
    opacity: 0.0;
    width: 1rem;
    cursor: pointer;
}
.AddModelData .modelInfoWrapper .btnContainer {
    margin: 2.5rem 0rem;

}
.AddModelData .modelInfoWrapper .viewModelBtn button{
    color: white;
    background:#0D5777;
    padding: 0.9rem 0.3rem;
}
.AddModelData .modelInfoWrapper .updateModelBtn button{
    color: #0D5777;
    border: 1px solid #0D5777;
    padding: 0.9rem 0.3rem;
    background-color: white;
}
/* dark mode styling */
.AddModelDataContainerDark .AddModelData .modelInfoWrapper{
    background-color: #131313;

}
.AddModelDataContainerDark .AddModelData .modelInfoWrapper .inputWrapper input,
.AddModelDataContainerDark .AddModelData .modelInfoWrapper .inputWrapper select,
.AddModelDataContainerDark .AddModelData .modelInfoWrapper  .myui-button{
    border: 1px solid #525151;
    background-color: #373333; 
    color: white; 
}
.AddModelDataContainerDark .AddModelData .modelInfoWrapper  h1{
    color: white;
}
.AddModelDataContainerDark .AddModelData .modelInfoWrapper .inputWrapper p,
.AddModelDataContainerDark .AddModelData .modelInfoWrapper #fileupload2 p{
    color: white;
    margin-bottom: 0.3rem;
}
.AddModelDataContainerDark .AddModelData .backBtnWrapper p{
    color: white;
}
@media only screen and (max-width:1181px){
     .AddModelData .modelInfoWrapper  h1{
        font-size: 1.9rem;
    }
    .AddModelData .modelInfoWrapper{
        padding: 3rem 0.8rem;
        padding-bottom: 7rem;
    }
}
@media only screen and (max-width:1181px){
    .AddModelData .modelInfoWrapper .inputWrapper{
        margin: 1.3rem 0rem;
    }
    .AddModelData .modelInfoWrapper .btnContainer {
        margin: 2rem 0rem;
    
    }
}
@media only screen and (max-width:761px){
    .AddModelData .modelInfoWrapper  h1{
       font-size: 1.6rem;
   }
}
@media only screen and (max-width:657px){
    .AddModelData .modelInfoWrapper  h1{
       font-size: 1.5rem;
   }
   .AddModelData .modelInfoWrapper{
       padding: 3rem 0.5rem;
       padding-bottom: 7rem;
   }
   .AddModelData .modelInfoWrapper .inputWrapper input,
    .AddModelData .modelInfoWrapper .inputWrapper select,
    .AddModelData .modelInfoWrapper  .myui-button,
    .AddModelData .modelInfoWrapper .btnContainer button{
        padding:0.6rem 0.5rem;
    }
}
@media only screen and (max-width:633px){
    .AddModelData{
        display: block;
    }
    .AddModelData .modelWrapper{
        width: 100vw;
        height: 70vh;
    }
    .AddModelData .modelInfoWrapper{
        width: 100vw;
        height: 30vh;
        padding: 3rem 1.5rem;
        padding-bottom: 5rem;
    }
}