.AllModels{
    padding: 1rem 0rem;
}
.AllModels nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.AllModels nav .menu {
    visibility: hidden;
}

.AllModels nav .userInfo {
    display: flex;
    align-items: center;
}

.AllModels nav .img {
    width: 2.5rem;
    height: 2.5rem;
}

.AllModels nav select {
    border: none;
    outline: none;
    background: none;
    margin-right: 1rem;
}

.AllModels nav .userInfo .menu {
    display: none;
}

/* main */
.AllModels .modelControl {
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}

.AllModels .removeModel .img {
    width: 1rem;
    height: 1rem;
}

.AllModels .addModel .img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
}

.AllModels .addModel,
.AllModels .removeModel {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.AllModels .addModel {
    color: white;
    background: #0D5777;
}

.AllModels .removeModel {
    border: 1px solid #690A04;
    color: #690A04;
}

/* search */
.AllModels .searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border: 1px solid #858585;
    padding: 0.5rem;
    border-radius: 2.2rem;
}

.AllModels .searchBarContainer .img {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    margin-top: -0.25rem;
}

.AllModels .searchBarContainer .filter {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 1.5rem;
    background-color: #858585;
    color: white;
    cursor: pointer;
}

.AllModels .searchBarContainer .filter .img {
    margin-right: 0.3rem;
}

.AllModels .searchBarContainer input {
    width: 90%;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}

/* model cards */
.AllModels .allModelsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0rem;
}
.AllModels .allModelsWrapper .modelCard {
    padding: 0.6rem;
    border-radius: 1rem;
    margin: 0.3rem 0.8rem;
    box-shadow: 0px 0.6px 0px 1px #b2b0b0;
    background: rgb(241, 238, 238);

}

.AllModels .allModelsWrapper .modelCard .img img{
    border-radius: 1rem;
}
.AllModels .allModelsWrapper .modelCard .img{
    width: 18rem;
    height: 14rem;
}
.AllModels .allModelsWrapper .modelCard .btnContainer button{
    margin-top: 0.45rem;
    width: 100%;
    border: none;
    outline: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.AllModels .allModelsWrapper .modelCard .viewModelBtn button{
    color: white;
    background:#0D5777;
}
.AllModels .allModelsWrapper .modelCard .updateModelBtn button{
    color: #0D5777;
    border: 1px solid #0D5777;
}

/* navigaton btn */

 .navigatonBtnContainer{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .navigatonBtnContainer div{
    margin: 0rem 0.6rem;
    cursor: pointer;
    padding:0.6rem 1.3rem;
    background-color:#ADB5B9 ;
}
 .navigatonBtnContainer .active{
    background-color: #0D5777;
    color: white;
}

@media only screen and (max-width:1331px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 0.3rem 0.8rem;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 17rem;
        height: 13rem;
    }
}
@media only screen and (max-width:1267px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem 2rem;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 19rem;
        height: 14rem;
    }
}
@media only screen and (max-width:1053px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem;
    }
}
@media only screen and (max-width:970px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem 0.5rem;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 16rem;
        height: 12rem;
    }
}
@media only screen and (max-width:882px){
    .AllModels nav .menu{
        visibility: visible;
    }
}
@media only screen and (max-width:872px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem;
    }
}
@media only screen and (max-width:642px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem ;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 15rem;
        height: 11rem;
    }
}
@media only screen and (max-width:614px){
     .navigatonBtnContainer div{
        margin: 0rem 0.5rem;
        padding:0.35rem 1rem;
    }
}
@media only screen and (max-width:591px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem 0.6rem;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 14rem;
        height: 10rem;
    }
    .AllModels .searchBarContainer .filter {
        padding: 0.6rem;
    }
    .AllModels .searchBarContainer {
        padding: 0.4rem;
    }
    .AllModels .searchBarContainer input {
        padding: 0.5rem 0.6rem;
        width: 80%;
    }
    .AllModels .addModel,
    .AllModels .removeModel {
        padding: 0.6rem 0.9rem;
        margin-right: 0.6rem;
        font-size: 0.95rem;
    }

}
@media only screen and (max-width:526px){
    .AllModels .allModelsWrapper .modelCard {
        margin: 1rem 2%;
        width: 45%;
    }
    .AllModels .allModelsWrapper .modelCard .img{
        width: 100%;
        height: 9rem;
    }
    .AllModels nav {
        padding: 0rem 1rem;
    }
}
@media only screen and (max-width:511px){
     .navigatonBtnContainer div{
        margin: 0rem 0.4rem;
        padding:0.3rem 0.8rem;
    }
}
@media only screen and (max-width:455px){
    .AllModels .allModelsWrapper .modelCard .img{
        height: 8rem;
    }
    .AllModels .searchBarContainer .searchImg {
        width: 1.5rem;
        height: 1.3rem;
        margin-top: -0.25rem;
    }
    .AllModels .searchBarContainer .filter .img {
        width: 1rem;
        margin-top: 0.1rem;
    }
}
@media only screen and (max-width:392px){
    .AllModels .allModelsWrapper .modelCard .img{
        height: 7.3rem;
    }
}
@media only screen and (max-width:375px){
    .AllModels .allModelsWrapper .modelCard .btnContainer button{
        padding: 0.4rem;
    }
    .AllModels nav {
        padding: 0rem 0.5rem;
    }
}
@media only screen and (max-width:362px){
    .AllModels .allModelsWrapper .modelCard .img{
        height: 6.8rem;
    }
}
@media only screen and (max-width:394px){
     .navigatonBtnContainer div{
        margin: 0rem 0.3rem;
        padding:0.2rem 0.6rem;
    }
}
@media only screen and (max-width:334px){
     .navigatonBtnContainer div{
        margin: 0rem 0.2rem;
        padding:0.2rem 0.45rem;
    }
}