.DashBoard {
    width: 100%;
    height: 100%;
    padding:1rem 2rem;
}
.DashBoard nav{
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.DashBoard nav .menu{
    visibility: hidden;
}
.DashBoard nav .userInfo{
    display: flex;
    align-items: center;
}
.DashBoard nav .img{
   width: 2.5rem;
   height: 2.5rem;
}
.DashBoard nav select{
    border: none;
    outline: none;
    background:none;
    margin-right: 1rem;
}
.DashBoard nav .userInfo .menu{
    display: none;
}
.DashBoard .generaModelInfoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0rem;
    flex-wrap: wrap;
}
.DashBoard .generaModelInfoWrapper div{
    border: 1px solid grey;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin:  1rem;
}
.DashBoard .generaModelInfoWrapper .green{
    background-color: #5EA33E;
    color: white;
}
.DashBoard .generaModelInfoWrapper .red{
    background-color: #C53333;
    color: white;
}
.DashBoard .chartContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 3rem;
    /* flex-wrap: wrap; */
}
.DashBoard .generalTaggerInfoWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.DashBoard .generalTaggerInfo {
    width: fit-content;
    background-color: white;
    padding:1rem;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 0.6rem;
}
.DashBoard .generalTaggerInfo h1{
    margin-bottom: 1rem;
}
.DashBoard .generalTaggerInfo  .viewAllTagger {
    text-align: center;
   margin: 1rem;
}
.DashBoard .generalTaggerInfo  .viewAllTagger button{
    border: none;
    outline: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 0.5rem 1rem;
   background: none;
   color: #0D5777;
   width: 100%;
    border: 1px  solid #0D5777;
    
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper,
.DashBoard .generalTaggerInfo .modelProfileWrapper{
    display: flex;
    align-items: flex-start;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .img img,
.DashBoard .generalTaggerInfo .modelProfileWrapper .img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;

}
.DashBoard .generalTaggerInfo .modelProfileWrapper .img img{
    border-radius: 1rem;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .img{
    width: 5rem;
    height: 5rem;
    margin: auto;
}
.DashBoard .generalTaggerInfo .modelProfileWrapper .img{
    width: 7.5rem;
    height: 4rem;
    margin: auto;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile,
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
    margin:0rem 1rem;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile{
    text-align: center;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
    width: 6.3rem;
    overflow: hidden;
    height: 1.6rem;
}
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3,
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
    width: 7.5rem;
    overflow: hidden;
    height: 1.6rem;
}
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
    margin:0.2rem 0rem;
    font-size: 0.8rem;
    height: 1.2rem;
}

.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile .btnContainer{
    text-align: center;
}
.DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile .btnContainer{
    margin-bottom: 1.6rem;
}

.DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile button,
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button,
.DashBoard .recentUpdates .recentlyUpdatedModels button{ 
    border: none;
    outline: none;
   border-radius: 5px;
   cursor: pointer;
   padding: 0.4rem 1rem;
   background-color: #1F74A3;
   color: white;
    background:#0D5777;
}  
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button{
    border-radius: 1rem;
}
.DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
    background-color: #0000001A;
    padding: 0.6rem;
    border-radius: 1rem;
}


.DashBoard .recentUpdates .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.DashBoard .recentUpdates {
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 7rem;
}
.DashBoard .recentUpdates .recentlyUpdatedModels{
    border: 1px solid rgb(209, 206, 206);
    background-color: white;
    padding: 0.6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.DashBoard .recentUpdates .recentlyUpdatedModels,
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 100%;
    height: 100%;
}
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .img{
    width: 4.5rem;
    height: 4.5rem;
}
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .img img{
    border-radius: 0.7rem;
}
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
    margin-left: 1rem;
    width: 30rem;
    overflow: hidden;
}
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper h3,
.DashBoard .recentUpdates .recentlyUpdatedModels .wrapper p{
    height: 1.5rem;
    overflow: hidden;
}

.DashBoard .recentUpdates .recentlyUpdatedModels button{ 
    height: 3rem;
}
/* dark mode styling */
.darkModeContainer .DashBoard .generaModelInfoWrapper div,
.darkModeContainer .DashBoard .generalTaggerInfo,
.darkModeContainer .DashBoard .recentUpdates .recentlyUpdatedModels{
    border: 1px solid #525151;
    background-color: #373333;  
}
.darkModeContainer .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
    background-color: #131313;
}
.darkModeContainer .DashBoard .generaModelInfoWrapper .green{
    background-color: #5EA33E;
    color: white;
}
.darkModeContainer .DashBoard .generaModelInfoWrapper .red{
    background-color: #C53333;
    color: white;
}
.darkModeContainer .DashBoard .generalTaggerInfo  .viewAllTagger button{
    color: white;
     border: 1px  solid white;  
}
@media only screen and (max-width:1489px){
    .DashBoard .generalTaggerInfoWrapper,
    .DashBoard .recentUpdates {
        width: 100%;
    }
    .DashBoard .generalTaggerInfoWrapper{
        display: block;
        width: fit-content;
        margin: auto;
    }
    .DashBoard .generalTaggerInfoWrapper .generalTaggerInfo{
        margin: 2rem 0rem;
    }
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile{
        margin: 0rem 2.2rem;
    }
}
@media only screen and (max-width:1118px){
    .DashBoard .generaModelInfoWrapper div{
        padding: 1rem;
    }
}
@media only screen and (max-width:968px){
    .DashBoard .generaModelInfoWrapper div{
        padding: 1rem;
        margin: 1rem 2rem;
        width: 12rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 22rem;
    }
}
@media only screen and (max-width:911px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 19rem;
    }
}
@media only screen and (max-width:882px){
    .DashBoard nav .menu{
        visibility: visible;
    }
    .DashBoard .generaModelInfoWrapper {
        width: 80%;
        margin: auto;
        margin-top: 6rem;
    }
    .DashBoard .generaModelInfoWrapper div{
        margin: 1rem 
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 29rem;
    }
}
@media only screen and (max-width:762px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 23rem;
    }
}
@media only screen and (max-width:662px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 18rem;
    }
}
@media only screen and (max-width:626px){
    .DashBoard .generaModelInfoWrapper {
        width: 100%;
    }
}
@media only screen and (max-width:616px){
    .DashBoard .chartContainer{
        display: block;
        width: 100%;
        margin: auto;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .img{
        width: 5.7rem;
        height: 3.7rem;
    } 
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile button,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button,
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        padding: 0.4rem 0.5rem;
     }  
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile{
        margin: 0rem 1rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
        padding: 0.5rem;
        margin: 0.3rem;
    }
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
        margin-bottom: 0.4rem;
    }
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
        width: 5.2rem;
        font-size: 0.95rem;
        height: 1.25rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3{
        width: 5.7rem;
        font-size: 0.95rem;
        height: 1.25rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        width: 5.7rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        margin:0.2rem 0rem;
        font-size: 0.8rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        height: 2.15rem;
     }  
}
@media only screen and (max-width:562px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 15rem;
    }
}
@media only screen and (max-width:513px){
    .DashBoard .generaModelInfoWrapper div{
        margin: 1rem 0.4rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 13rem;
        margin-left: 0.6rem;
    }
}
@media only screen and (max-width:475px){
    .DashBoard .generaModelInfoWrapper div{
        margin: 1rem 0.45rem;
        width: 9rem;
        padding: 0.5rem 0.7rem;
    }
    .DashBoard .generaModelInfoWrapper div p{
       font-size: 0.9rem;
    }
    .DashBoard {
        padding: 1rem;
    }
}
@media only screen and (max-width:442px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 11.5rem;
        margin-left: 0.6rem;
    }
}
@media only screen and (max-width:422px){
    .DashBoard .generalTaggerInfo .modelProfileWrapper .img{
        width: 5rem;
        height: 3.2rem;
    } 
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3{
        width: 5.199rem;
        font-size: 0.95rem;
        height: 1.25rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        width: 5.199rem;
    }
    .DashBoard .generalTaggerInfo h1{
        font-size: 1.7rem;
    }
    .DashBoard .generalTaggerInfo{
        padding:0.5rem ;
        width: 100%;
        margin: auto; 
    }
    .DashBoard .taggersProfileWrapper{
        justify-content: space-around;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile {
        padding: 0.4rem;
    }
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile button,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button,
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        padding: 0.3rem 0.45rem;
        font-size: 0.8rem;
     }  
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile{
        margin: 0rem 0.5rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        height: 2rem;
     }  
     .DashBoard .recentUpdates .recentlyUpdatedModels{
        padding: 0.56rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .img{
        width: 3.8rem;
        height: 3.8rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        margin-left: 0.5rem;
    }
}
@media only screen and (max-width:393px){
    /* .DashBoard .generalTaggerInfo  .taggersProfile h3{
        width: 100%;
        overflow-x:hidden;
        overflow-y:hidden;
        height: 1.25rem;
        background-color: pink;
    } */
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 10rem;
    }
}
@media only screen and (max-width:373px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 9rem;
    }
}
@media only screen and (max-width:363px){
    .DashBoard{
        padding: 1rem 0.55rem;
    }
}
@media only screen and (max-width:352px){
    .DashBoard .generaModelInfoWrapper div{
        width: 8.5rem;
        padding: 0.5rem;
    }
    .DashBoard .generaModelInfoWrapper div h1{
       font-size: 1.65rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .img{
        width: 4.7rem;
        height: 3rem;
    } 
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .img{
        width: 4.5rem;
        height: 4.5rem;
    } 
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
        width: 5.2rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3{
        width: 4.7rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        width: 4.7rem;
    }
    .DashBoard .generalTaggerInfo{
        padding:0.5rem ;
        width: 100%;
        margin: auto; 
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile {
        padding: 0.4rem;
        margin: 0.25rem;
    }
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile button,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button,
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        padding: 0.3rem 0.4rem;
        font-size: 0.7rem;
     }  
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile{
        margin: 0rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        height: 1.7rem;
     }  
     .DashBoard .recentUpdates .recentlyUpdatedModels{
        padding: 0.5rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .img{
        width: 3.6rem;
        height: 3.6rem;
    }
}
@media only screen and (max-width:335px){
    .DashBoard .generaModelInfoWrapper div{
        width: 8rem;
        margin: 0.5rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .img{
        width: 4.1rem;
        width: 4.5rem;
        height: 3rem;
    } 
    .DashBoard .generalTaggerInfo .taggersProfileWrapper .img{
        width: 3.8rem;
        height: 3.8rem;
    } 
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
        width: 3.7rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
        padding: 0.4rem;

    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        width: 4.1rem;
    }

    .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile button,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile button{ 
        font-size: 0.6rem;
    }
}
@media only screen and (max-width:325px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 8.2rem;
    }
}
@media only screen and (max-width:313px){
    .DashBoard .generaModelInfoWrapper div{
        width: 7.2rem;
        margin: 0.5rem;
    }
    .DashBoard .generaModelInfoWrapper div p{
        font-size: 0.8rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .img{
        width: 4.1rem;
        height: 3rem;
    } 
     .DashBoard .generalTaggerInfo .taggersProfileWrapper .taggersProfile h3{
        width: 3.7rem;
    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile{
        padding: 0.4rem 0.3rem;

    }
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile h3,
    .DashBoard .generalTaggerInfo .modelProfileWrapper .taggersProfile p{
        width: 4.1rem;
    }
}
@media only screen and (max-width:309px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 7.3rem;
    }
}
@media only screen and (max-width:295px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 6.8rem;
    }
}
@media only screen and (max-width:287px){
    .DashBoard .generalTaggerInfo {
        padding: 0.2rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 6.4rem;
    }
    .DashBoard .recentUpdates .recentlyUpdatedModels button{ 
        padding: 0.2rem;
    }

}
@media only screen and (max-width:282px){
    .DashBoard .generaModelInfoWrapper div{
        width: 7rem;
        margin:0.6rem 0.3rem;
    }
}
@media only screen and (max-width:272px){
    .DashBoard .recentUpdates .recentlyUpdatedModels .wrapper .modelInfo{
        width: 5.8rem;
    }
}