.Login{
    width: 100%;
}
.Login .Wrapper{
    display: flex;
    align-items: center;
}
img{
    width: 100%;
  }
.Login .background1{
    background-color: #c4c4c400;
  }
.Login .background1,
.Login .background2{
    width: 50%;
    height: 100vh;
}
.LoginWrapper  .loginContainer{
    width: 28rem;
    position: absolute;
    border-radius: 20px;
    top: 35%;
    left: 50%;
    padding: 1.5rem ;
    padding-bottom: 0.8rem;
    transform: translate(-50%,-35%);
    background-color: #f1f1f1;
    margin: auto;
    box-shadow: 0px 4px 4px 0 #00000026;
}
.Login .loginContainer .heading{
    text-align: center;
    margin-bottom: 2rem;
}
.Login .loginContainer .heading h1{
    text-align: center;
    margin-bottom: 0.5rem;
}
.Login .loginContainer .emailContainer,
.Login .loginContainer .passwordContainer{
    width: 100%;
    margin: auto;
    margin-bottom: 1.8rem;
}
 .Login .loginContainer .passwordContainer .flex .img{
    margin-right: 0.5rem;
}
 .Login .loginContainer .passwordContainer .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: white;
    outline: none;
    margin: 0rem;
    margin: 0.5rem 0rem;
    border: 1px solid #0000001A;
    
}
.Login .loginContainer .emailContainer p,
.Login .loginContainer .passwordContainer p{
    font-weight: 500;
}
.LoginWrapper .Login .loginContainer .passwordContainer input{
    width: 90%;
    display: block;
    padding:0.6rem 0.5rem;
    font-size: 1rem;
    margin: 0rem;
    border: none;
    outline: none;
    border-radius: 12px;
}
 .Login .loginContainer .passwordContainer .passwordVisibleWrapper .img{
    width: 1.15rem;
    /* height: 1.3rem; */
}
.Login .loginContainer .emailContainer input{ 
    width: 100%;
    display: block;
    padding:0.6rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: white;
    outline: none;
    border: 1px solid #0000001A;
    margin: 1rem 0rem;
}
.Login .loginContainer .rememberMe label{
    cursor: pointer;
}
.Login .loginContainer .rememberMe{
    display: flex;
    align-items: center;
}
.Login .loginContainer p{
   cursor: pointer;

}

.Login .loginContainer .infoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Login .loginContainer .btnContainer {
    margin: 1rem 0rem;
    width: 100%;
}
.Login .loginContainer .errMsg{
    text-align: center;
    color: red;
    font-weight: bolder;
}
.Login .loginContainer .btnContainer button{
    border: none;
    outline: none;
   border-radius: 12px;
   font-size: 1rem;
   cursor: pointer;
   padding: 0.6rem 1.2rem;
   width: 100%;
   font-weight: bolder;
   background-color: #1F74A3;
   border: 1px solid #0000000D;
   color: white;
}
/* loading animation */
/* .loading{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: red;
} */
.Login .loginContainer .btnContainer button .round{
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid #1F74A3;
    border-top:2px solid white;
    margin: auto;
    border-radius: 50%;
    animation: round  350ms infinite both;
    animation: round  590ms infinite both;
  }
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    20%{
      transform: rotate(70deg);
    }
    40%{
      transform: rotate(120deg);
    }
    60%{
      transform: rotate(220deg);
    }
    80%{
      transform: rotate(290deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width:844px){
    .Login .loginContainer{
        width: 55%;
    }
}
@media only screen and (max-width:714px){
    .Login .Wrapper{
        display: block;
    } 
    .Login .background1{
        display: none;
    }
    .Login .background2{
        width: 100%;
        /* height: 100vh; */
    }
}
@media only screen and (max-width:698px){
    .Login .loginContainer{
        width: 62%;
    }
}

@media only screen and (max-width:608px){
    .Login .loginContainer{
        width: 68%;
    }
}
@media only screen and (max-width:538px){
    .Login .loginContainer{
        width: 75%;
        border-radius: 0.8rem;
    }
}
@media only screen and (max-height:468px){
    .Login .background2{
        width: 100%;
        height: 34rem;
    }
    .Login .loginContainer{
        margin-top: 4rem;
    }
}

@media only screen and (max-width:447px){
    .Login .loginContainer{
        width: 85%;
    }
}
@media only screen and (max-width:392px){
    .Login .loginContainer{
        width: 90%;
        padding: 1rem ;
        padding-bottom: 0.6rem;
    }
}
@media only screen and (max-height:372px){
    .Login .background2{
        width: 100%;
        height: 40rem;
    }
    .Login .loginContainer{
        margin-top: 8rem;
    }
}
@media only screen and (max-width:370px){
    .Login .loginContainer{
        width: 94%;
    }
    .loginContainer .heading p{
        font-size: 0.95rem;
    }
}
@media only screen and (max-width:344px){
    .Login .loginContainer{
        padding: 1.2rem 1rem;
    }
    .loginContainer .heading p{
        font-size: 0.9rem;
    }
    .Login .loginContainer .emailContainer,
    .Login .loginContainer .passwordContainer{
        margin-bottom: 1.6rem;
    }
    .Login .loginContainer .infoContainer{
        font-size: 0.95rem;
    }
    .Login .loginContainer .btnContainer {
            margin: 0.7rem 0rem;
    }
}
@media only screen and (max-width:303px){
    .Login .loginContainer .infoContainer{
        font-size: 0.88rem;
    }
}