.ReviewerDashBoard{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.ReviewerDashBoard .threejsWrapper{
    width: 75vw;
    height: 100vh;
    background-color: blanchedalmond;
}
.ReviewerDashBoard .dataWrapper{
    width: 25vw;
    height: 100vh;
    padding: 2rem 1rem;
    background-color: aquamarine;
}
.ReviewerDashBoard .dataWrapper .header .menuWrapper .menu {
    width: 1.7rem;
    height: 1.7rem;
}
.ReviewerDashBoard .dataWrapper .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ReviewerDashBoard .AllModels .searchBarContainer input {
    padding: 0.6rem 0.5rem;

}
.ReviewerDashBoard .AllModels .searchBarContainer{
    margin-top: 4rem;
    padding: 0.4rem;

}
 .ReviewerDashBoard .AllModels .searchBarContainer .filter {
    padding: 0.7rem;
 }

.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .allInfoContainer {
    margin: 2rem auto;
    padding: 1rem 0rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
 }
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .allInfoContainer .info {
    margin: 0.4rem 0rem;
}
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .allInfoContainer .info h3{
    display: inline;
    /* width: fit-content;
    height: fit-content;
    background-color: red; */
}

 .ReviewerDashBoard .btnContainer button{
    margin-top: 0.45rem;
    width: 100%;
    border: none;
    outline: none;
   cursor: pointer;
   padding: 1rem;
    border-radius: 2rem;
    color: white;
    background:#0D5777;
    font-size: 1rem;
}

/* filter card */
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .filterCard{
    background-color: aliceblue;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .filterCard .heading{
    display: flex;
    align-items: center;
}
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .filterCard .heading p{
   width: 50%;
   text-align: center;
   padding: 0.45rem 0rem;
}
.ReviewerDashBoard .dataWrapper .dataHistoryWrapper .filterCard .active{
    background:#0D5777;
    color: white;
    border-radius: 1rem;

}

.ReviewerDashBoard .dataWrapper .filterCard .filterInputContainer{
    width: 80%;
    margin: auto;
}
.ReviewerDashBoard .dataWrapper .filterCard .inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ReviewerDashBoard .dataWrapper .filterCard .inputContainer input{
    width: 40%;
    /* display: block; */
    padding:0.2rem 0.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid #0D57774D;
    background: rgb(241, 238, 238);
}
.ReviewerDashBoard .dataWrapper .filterCard .filterInputContainer .fromWrapper{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.ReviewerDashBoard .dataWrapper .filterCard .filterInputContainer .controlBtn{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ReviewerDashBoard .dataWrapper .filterCard .filterInputContainer .controlBtn button{
    padding:0.8rem 0.3rem;
    font-size: 1rem;
    border: none;
    width: 40%;
    border-radius: 0.3rem;
    outline: none;
    border: 1px solid #0D57774D;
    /* background: rgb(241, 238, 238); */

    
}